/* ------General------ */

a {
  text-decoration: none;
}

main {
  min-height: 80vh;
}

.anchors {
  text-decoration: none;
}

.anchors:hover {
  text-decoration: underline;
}

/* ------Navbar------- */

.navDrop {
  margin-left: 0.5rem;
  margin-top: 0.3rem;
  font-size: 1rem;
  color: #818589;
  text-decoration: none;
}

#username {
  padding: 0% !important;
}

.navDropLink {
  font-size: 1rem;
  color: #818589;
  text-decoration: none !important;
  border: none !important;
}

.navDropTitle {
  margin-left: 0.5rem;
  font-size: 1rem;
  color: #818589;
  text-decoration: none !important;
  border: none !important;
}
.navDropTitle:hover {
  color: white;
}

.navDropTitle:focus {
  color: #d3d3d3;
}

.navl {
  margin-left: 0.5rem;
  margin-top: 0.3rem;
  font-size: 1rem;
  color: #818589;
  text-decoration: none;
}

.navl:hover {
  color: white;
}

.rating span {
  margin: 0.1rem;
}

h1 {
  font-size: 1.8rem !important;
  padding: 1rem 0;
}

h2 {
  font-size: 1.8rem !important;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

/* ----Shipping Screen----- */

.PostalCodeInput::-webkit-inner-spin-button,
.PostalCodeInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* ------Theme Change------- */

.white-content {
  background: #e4e4e4 !important;
}

.white-content-txt {
  color: white !important;
}

.black-content {
  background-color: #201c34 !important;
  /* background-color: #201c34 !important; */
}

/* ------Image Upload------- */
.img-upload-message {
  width: 100% !important;
}

/* ---------Alert Messages------------ */
.alert {
  margin-bottom: 0.5rem !important;
}

/* ----------Pagination---------- */

/* #container{
  padding-top: 20px;
}
#pagination{
  display: flex;
  justify-content: center;
} */
.blocks {
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #dddddd;
  display: inline-block;
  text-decoration: none;
  color: black;
}
.blocks:not(:first-child) {
  margin-left: 5px;
}
.blocks:first-child {
  border-radius: 10px 0 0 10px;
}
.blocks:last-child {
  border-radius: 0 10px 10px 0;
}
.blocks:hover {
  background-color: #dddddd;
}
.activa {
  background-color: #808080;
}

/* -------Carousel-------- */

.carousel-item-prev,
.carousel-item-next,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h4 {
  color: #fff;
}

.carousel img {
  display: block;
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
