main {
  min-height: 80vh;
}

.anchors {
  text-decoration: none;
}

.navl {
  margin-left: 0.5rem;
  margin-top: 0.3rem;
  font-size: 1rem;
  color: #818589;
  text-decoration: none;
}

.navl:hover {
  color: #d3d3d3;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}
