main {
  min-height: 80vh;
}

.anchors {
  text-decoration: none;
}

.navDrop {
  margin-left: 0.5rem;
  margin-top: 0.3rem;
  font-size: 1rem;
  color: #818589;
  text-decoration: none;
}

#username {
  padding: 0% !important;
}

.navDropLink {
  font-size: 1rem;
  color: #818589;
  text-decoration: none !important;
  border: none !important;
}

.navDropTitle {
  margin-left: 0.5rem;
  font-size: 1rem;
  color: #818589;
  text-decoration: none !important;
  border: none !important;
}
.navDropTitle:hover {
  color: white;
}

.navDropTitle:focus {
  color: #d3d3d3;
}

.navl {
  margin-left: 0.5rem;
  margin-top: 0.3rem;
  font-size: 1rem;
  color: #818589;
  text-decoration: none;
}

.navl:hover {
  color: white;
}

.rating span {
  margin: 0.1rem;
}

h1 {
  font-size: 1.8rem !important;
  padding: 1rem 0;
}

h2 {
  font-size: 1.8rem !important;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}
